body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(lost_found.jpg);
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#msg {
    color: red;
}

.logout-btn {
    float: right;
    margin-top: -40px;
    padding: 8px 15px;
    background: #e74c3c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #c0392b;
}